<!DOCTYPE html>
<html>
    <head>
        <title>Accent Settings</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <style>
            body {
                background-color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 12pt;
                padding: 12pt;
            }

            input, select {
                font-family: 'Roboto', sans-serif;
                font-size: 12pt;
                padding: 4pt;
                margin-bottom: 12pt;
                background-color: white;
            }

            input[type=text] {
                border: 1pt solid black;
                font-weight: 400;
            }

            input[type=submit], input[type=button] {
                border: 2pt solid black;
                font-weight: 700;
                width: 100pt;
            }

            label {
                font-weight: 700;
                margin: 4pt;
            }
        </style>
        <script type="text/javascript">
            function previewSelection(scheduleImageId) {
                const select = document.getElementById(scheduleImageId);
                const option = select.options[select.selectedIndex];
                window.open('/' + option.value + '?key={{ key }}', '_blank');
            }
        </script>
    </head>
    <body>
        <form method="post" action="{{ url_for('hello_post', key=key) }}">
            <label for="time_zone">Time zone:</label>
            {% set time_zone = user.get('time_zone') if user and 'time_zone' in user._data else 'America/Los_Angeles' %}
            <select name="time_zone">
            {% for list_time_zone in time_zones %}
                <option value="{{ list_time_zone }}"{% if time_zone == list_time_zone %} selected{% endif %}>{{ list_time_zone }}</option>
            {% endfor %}
            </select><br />
            <label for="home">Home:</label>
            {% set home = user.get('home') if user and 'home' in user._data else '' %}
            <input type="text" name="home" size="50" placeholder="San Francisco" value="{{ home }}"><br />
            <label for="work">Work:</label>
            {% set work = user.get('work') if user and 'work' in user._data else '' %}
            <input type="text" name="work" size="50" placeholder="Mountain View" value="{{ work }}"><br />
            <label for="travel_mode">Travel mode:</label>
            {% set travel_mode = user.get('travel_mode') if user and 'travel_mode' in user._data else 'driving' %}
            <select name="travel_mode">
                <option value="driving"{% if travel_mode == 'driving' %} selected{% endif %}>driving</option>
                <option value="walking"{% if travel_mode == 'walking' %} selected{% endif %}>walking</option>
                <option value="bicycling"{% if travel_mode == 'bicycling' %} selected{% endif %}>bicycling</option>
                <option value="transit"{% if travel_mode == 'transit' %} selected{% endif %}>transit</option>
            </select><br />
            <i>Schedule start times use the <a href="https://en.wikipedia.org/wiki/Cron#CRON_expression" target="_blank">cron expression</a> format, plus "sunrise" or "sunset" in place of hours and minutes.</i><br /><br />
            {% set schedule_name_placeholder = 'City Sunrise' %}
            {% set schedule_start_placeholder = 'sunrise * * *' %}
            {% if user and 'schedule' in user._data %}
                {% for entry in user.get('schedule') %}
                    Schedule #{{ loop.index }}
                    <label for="schedule_name">Name:</label>
                    <input type="text" name="schedule_name" size="30" placeholder="{{ schedule_name_placeholder }}" value="{{ entry['name'] }}">
                    <label for="schedule_start">Start:</label>
                    <input type="text" name="schedule_start" size="20" placeholder="{{ schedule_start_placeholder }}" value="{{ entry['start'] }}">
                    <label for="schedule_image">Image:</label>
                    {% set schedule_image_id = 'schedule_image_' ~ loop.index %}
                    <select name="schedule_image" id="{{ schedule_image_id }}">
                        <option value="artwork"{% if entry['image'] == 'artwork' %} selected{% endif %}>artwork</option>
                        <option value="city"{% if entry['image'] == 'city' %} selected{% endif %}>city</option>
                        <option value="commute"{% if entry['image'] == 'commute' %} selected{% endif %}>commute</option>
                        <option value="calendar"{% if entry['image'] == 'calendar' %} selected{% endif %}>calendar</option>
                    </select> &nbsp;
                    <input type="button" name="preview" onclick="previewSelection('{{ schedule_image_id }}')" value="Preview" /><br />
                {% endfor %}
            {% endif %}
            {% set next_index = user.get('schedule') | length + 1 if user and 'schedule' in user._data else 1 %}
            Schedule #{{ next_index }}
            <label for="schedule_name">Name:</label>
            <input type="text" name="schedule_name" size="30" placeholder="{{ schedule_name_placeholder }}">
            <label for="schedule_start">Start:</label>
            <input type="text" name="schedule_start" size="20" placeholder="{{ schedule_start_placeholder }}">
            <label for="schedule_image">Image:</label>
            {% set schedule_image_id = 'schedule_image_' ~ next_index %}
            <select name="schedule_image" id="{{ schedule_image_id }}">
                <option value="artwork">artwork</option>
                <option value="city" selected>city</option>
                <option value="commute">commute</option>
                <option value="calendar">calendar</option>
            </select> &nbsp;
            <input type="button" name="preview" onclick="previewSelection('{{ schedule_image_id }}')" value="Preview" /><br />
            <input type="submit" value="Save" />
        </form><br />
        <label for="calendar_connected">Google Calendar:</label>
        {% if calendar_connected %}
        <input type="button" name="calendar_disconnect" onclick="window.open('{{ calendar_disconnect_url | safe }}', '_blank')" value="Disconnect" />
        {% else %}
        <input type="button" name="calendar_connect" onclick="window.open('{{ calendar_connect_url | safe }}', '_self')" value="Connect" />
        {% endif %}
    </body>
</html>
