astral==3.2
cachetools==7.1.1
croniter==6.2.2
firebase-admin==7.4.0
Flask==3.1.3
google-api-python-client==2.196.0
google-auth==2.50.0
google-auth-oauthlib==1.3.1
google-cloud-vision==3.13.0
numpy==2.4.4
Pillow==12.3.0
python-dateutil==2.9.0.post0
pytz==2026.2
requests==2.33.1
./dithering_extension
